
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    
}

    
/* navbar css */
.navbar {
  width: 100vw;
  /* position: fixed; */
  background-color: rgba(0, 0, 0, 0.744);
  overflow-x: hidden;
}
.logo{

  display: inline-block;
  position: relative;
  top: 21px;
  right: 5.8%;
}
  
.nav_list {
  padding: 1% 0;
  position: relative;
  left: 11.8%;
  top: -14px;
  width: 53%;
}


.nav_list_item {
  display: inline-block;
  text-align: left;
}

.nav_link {
  text-decoration: none;
  color: gray;
  padding-left: 28px;
  font-size: 17px;
}

.hanburger {
  color: rgb(231, 224, 224);
  width: 36px;
  display: none;
}
.hanburger2{
  color: rgb(165, 165, 165);
  width: 36px;
  display: none;
}

#check{
  display: none;
  /* position: absolute; */

}




.head{
    /* padding: 25px 25px 25px 25px ; */
    /* padding-bottom: 19px; */
height: 50px;
margin: auto;

}
.header{
    display: flex;
    padding-left: 115px;
    padding-top: 45px;
    padding-bottom: 4px;
    /* font-family: "Trirong", serif;
     */
     font-family: sans-serif;
     /* float: left;
     margin: auto;
     margin-top: 2%;
     width: 85%; */
    
}
.text{
    font-size: 1rem;
    font-size: 19px;
    color: gray;
}


.main {
  width: 87%;
  overflow: auto;
  margin: 1% auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.main_item {
  width: 30%;
  height: 370px;
  overflow: hidden;
  /* display: inline-block; */
  margin: 1%;
}

.main_item_img {
  width: 100%;
  height: 224px;
}

.main_item_img img {
  width: 100%;
  height: 100%;
}


.main_item_h2 {
  margin: 11px 0;
  color: skyblue;
}



@media(max-width:492px) {
  .main_item {
      display: block;
      width: 98%;
      margin-bottom: 23px;
  }
  /* .logo{
      top: 19px;
      left: -7px;
  } */
}
@media(max-width:623px){
  .logp{
      /* position: relative; */
      background-color: red;
      top: 1px;
      left: 1px;
  }
  .header{
    padding-top: 25px;
padding-left: 100px;
  }
}


@media(max-width:1073px){
.header{
padding-left: 100px;
  padding-top: 15px;
  padding-bottom: 4px;

}
}
@media(max-width:916px) {
  
  .main{
      overflow-x: hidden;
  }
  .main_item {
      width: 98%;
  }

}

.footer{
    
    margin: 3% 0 5% 7.5%;

  }




  @media(max-width:623px){
    .logp{
        /* position: relative; */
        background-color: red;
        top: 1px;
        left: 1px;
    }
}
@media(max-width:916px) {
    .h_span {
        font-size: 60%;
    }
    .main{
        overflow-x: hidden;
    }
    .main_item {
        width: 98%;
    }

    .hanburger{
        display: block;
        position: relative;
        left: 90%;
        height: 38px;
        top: -18px;
    }
    .hanburger2{
        display: none;
        position: relative;
        z-index: 2;
        left: 90%;
        height: 38px;
        top: 10px;
    }
  
    .hanburger:hover{
      font-size: 20px;
      /* cursor:pointer; */
    }
    .hanburger2:hover{
        font-size: 20px;
        /* cursor:pointer; */
    }
    .nav_list_item {
        display: block;
        padding: 18px;
    }
    
    .nav_list {
        display: none;
        margin: 6px;
        position: relative;
        bottom: 3.4rem;
    }
    #check:checked~.nav_list{
        display: block;
    }
    #check:checked~.hanburger{
        display: none;
    }
    #check:checked~.hanburger2{
        display: block;
    }
    
}
@media(max-width:1350px){
    .logo{
        top: 20px;
        left: 61px;
    }
.nav_list{
    top: -11px;
    left: 170px;
}
}



  